<h1 class="title">Add a new URL</h1>
<br>
<div class="form1">
  <%= form_for @link do |form| %>
  <%= form.label :url, "Your URL:" %>
  <%= form.text_field :url %>
<br>
<br>
  <%= form.submit "Shorten my URL" %>

  <% end %>
</div>
<br>
<br>
<div class="list">
  <h4 class="visit">Visit Url Below</h4>

  <% @links.each do |url|%>
  <%= link_to url.shorturl, url.url %>
  <br>
  <% end %>

</div>
